@charset "utf-8";

/*--- 순서 --/
 * 
 * 0. 공통
 * 1. GNB
 * 2. LNB 
 * 3. body
 * 
 */

/* -------------------------0. 공통 -------------------------*/
a{
	margin:0px;
	text-decoration:none;
}
body{
	background-image:url('../img/main/bg_main_01.jpg');
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:100% 100%;
	background-color:#222222;
	width:1280px;
	height:720px;
	margin:0 auto;
}

.intro {position:absolute;display:block;background:url('../img/main/intro.jpg') no-repeat;width:1280px;height:720px;}

/*------------------------- 1. GNB------------------------- */
#gnb {
    background-image:url('../img/main/bg_main_02.png');	
	background-repeat:no-repeat;
	
	width:1280px;
	height:45px;
	
}
#gnb .user_email{
	position: relative;
	top: 12px;
	left: 0px;
	color: #eee;
	font-size: 11pt;
	font-family: arial;
	text-align: right;
	width: 1203px;
}
.gnb_logo {position:absolute;display:block;background:url('../img/main/bg_logo_01.png') no-repeat;width:120px;height:32px;margin:7px;}
.gnb_logo:hover{position:absolute;display:block;background:url('../img/main/bg_logo_01_focus.png') no-repeat;width:120px;height:32px;margin:7px;}
.gnb_logo.focus{position:absolute;display:block;background:url('../img/main/bg_logo_01_focus.png') no-repeat;width:120px;height:32px;margin:7px;}
.gnb_log {
    background:url('../img/main/bn_main_log_off_01.png') no-repeat;
	display:block;
	width:49px;
	height:35px;
	position:absolute;
	top:6px;	
	margin-left:1216px;
}
.gnb_log:hover {
    background:url('../img/main/bn_main_log_off_02.png') no-repeat;
	display:block;
	width:49px;
	height:35px;
	position:absolute;
	top:6px;	
	margin-left:1216px;
}
.gnb_log.focus{
    background:url('../img/main/bn_main_log_off_03.png') no-repeat;
	display:block;
	width:49px;
	height:35px;
	position:absolute;
	top:6px;	
	margin-left:1216px;
}
.gnb_close {
    background:url('../img/main/bn_main_close_01.png') no-repeat;
	display:block;
	width:26px;
	height:26px;
	position:absolute;
	top:9px;	
	margin-left:1242px;
}
.gnb_close:hover {
    background:url('../img/main/bn_main_close_02.png') no-repeat;
	display:block;
	width:26px;
	height:26px;
	position:absolute;
	top:9px;	
	margin-left:1242px;
}
.gnb_close.focus {
    background:url('../img/main/bn_main_close_02.png') no-repeat;
	display:block;
	width:26px;
	height:26px;
	position:absolute;
	top:9px;	
	margin-left:1242px;
}


/*------------------------- 2. LNB------------------------- */
#lnb {
    background-image:url('../img/main/bg_main_03.png');	
	background-repeat:no-repeat;
	position:absolute;
	width:133px;
	height:675px;
	margin:0px;
	z-index:100;
}
/*
.lnb_featured{
    background:url('../img/main/bn_main_featured_on_02.png') no-repeat;
	display:block;
	width:151px;
	height:87px;
	margin-top:100px;
}
.lnb_featured:hover{
	background-position:0 0px;
    display:block;
}
.lnb_featured:focus{
	background-position:0 0px;
    display:block;
}
*/
.lnb_playlists{
    background:url('../img/main/bn_main_playlists_on_02.png') no-repeat;
	display:block;
	width:133px;
	height:87px;
	margin-top:100px;
}
.lnb_playlists:hover{
	background-position:0 0px;
    display:block;
}
.lnb_playlists:focus{
	background-position:0 0px;
    display:block;
}
.lnb_editor{
    background:url('../img/main/bn_main_editor_off_02.png') no-repeat;
	display:block;
	width:133px;
	height:87px;
}
.lnb_editor:hover{   
	background-position:0 -87px;
    display:block;
}
.lnb_editor:focus{   
	background-position:0 -87px;
    display:block;
}
.lnb_support{
    background:url('../img/main/bn_main_support_off_02.png') no-repeat;
 	display:block;
	width:133px;
	height:87px;
}
.lnb_support:hover{    
 	background-position:0 -87px;
    display:block;
}
.lnb_support:focus{    
 	background-position:0 -87px;
    display:block;
}
.lnb_settings{
    background:url('../img/main/bn_main_settings_off_02.png') no-repeat;
	display:block;
	width:133px;
	height:87px;
}
.lnb_settings:hover{
	background-position:0 -87px;
    display:block;
}
.lnb_settings:focus{
	background-position:0 -87px;
    display:block;
}
.lnbBlock {
	background:url('../img/main/bg_main_03.png') no-repeat;
	display:none;
	width:151px;
	height:675px;
	position:absolute;
	top:45px;
	left:0;
	opacity:0.1;
}

/*------------------------- 3. body------------------------- */
#body{
	position:relative;
	display:block;
	width:1280px;
	height:720px;
	overflow:hidden;
}

#body_contents_sub{
	display:none;
}



.body_title{
    height:53px;
	margin-top:57px;
	margin-left:187px;
}
.body_title_appear{
    height:53px;
	position:absolute;
	top:57px;
	left:0px;
	opacity:0.0;
}
.body_contents{    
	margin-top:15px;
	margin-left:187px;
	height:425px;    
}



.body_contents_sub_01{
	display:block;
	width:533px;
	height:381px;
	position:absolute;	
}
.body_contents_sub_02{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 546px;	/* added 533+13px (ver:1280) */	
}
.body_contents_sub_03{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 1092px;	/* added (533+13)*2 px (ver:1280) */	
}
.body_contents_sub{
	display:block;
	width:533px;
	height:381px;
	position:absolute;	
}
.body_contents_sub.list_1{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 0px;
}
.body_contents_sub.list_2{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 546px;	/* added 533+13px (ver:1280) */	
}
.body_contents_sub.list_3{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 1092px;	/* added (533+13)*2 px (ver:1280) */	
}
.body_contents_sub.list_4{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 1638px;	/* added (533+13)*3 px (ver:1280) */	
}
.body_contents_sub.list_5{
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 2184px;	/* added (533+13)*4 px (ver:1280) */	
}

/*.body_contents_sub_dimmed{
    background:url('../img/main/lb_main_featured_05.png') no-repeat;
	display:block;
	width:533px;
	height:381px;
	position:absolute;
	margin-left : 546px;
}
.body_contents_sub_dimmed:hover{    
    background:url('../img/main/lb_main_featured_15.png') no-repeat;
    display:block;	
}
.body_contents_sub_dimmed:focus{  
    background:url('../img/main/lb_main_featured_15.png') no-repeat;
    display:block;	
}*/






.body_button{  
    display:block;
	height:170px;
}
.body_button_left{
    background:url('../img/main/bn_main_slider_01.png') no-repeat;
	display:block;
	width:22px;
	height:28px;
    position:absolute;
	margin-left:200px;
}
.body_button_left:hover{
    background-position:-26px 0;
}
.body_button_right{
    background:url('../img/main/bn_main_slider_02.png') no-repeat;
	background-position:-26px 0;
	display:block;
	width:22px;
	height:28px; 
    position:absolute;
    margin-left:1200px;	
}
.body_button_right:hover{
    background-position:0;
}

.body_widget{
    display:block;
	position:relative;
    left:625px;
}

.disabled{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:black;
	opacity: 0.5;
	z-index:150;
}
.disabled_left{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:black;
	opacity: 0.5;
	z-index:-100;
}

.body_checkbox{   
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	border:none;
	display:inline-block;
	float:left;
}
.body_checkbox_img{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	border:none;
	display:none;	
}
.body_checkbox_img+label{
	background:url('../img/main/lb_settings_signin_07.png') no-repeat;
	margin:0;
    position:absolute;
	display:block;
	width:17px;
	height:18px;
}
.body_checkbox_img:checked+label{
	background:url('../img/main/lb_settings_signin_08.png') no-repeat;
}
.body_back_btn{background:url('../img/main/tl_main_06.png') no-repeat;position:absolute;display:block;width:66px;height:25px;top:18px;left:187px;}
.body_back_btn:hover{background:url('../img/main/tl_main_07.png') no-repeat;}
.body_back_btn:focus{background:url('../img/main/tl_main_07.png') no-repeat;}
.editMap_back_btn{background:url('../img/main/tl_main_06.png') no-repeat;position:absolute;display:block;width:66px;height:25px;top:-33px;left:1088px;}
.editMap_back_btn:hover{background:url('../img/main/tl_main_07.png') no-repeat;}
.editMap_back_btn:focus{background:url('../img/main/tl_main_07.png') no-repeat;}
.body_next{
    background:url('../img/main/bn_setting_signup_01.png') no-repeat;
	margin:0;
    position:absolute;
	display:block;
	width:177px;
	height:40px;
	top:356px;
	left:369px;
}
.body_next:focus{
    background-position:0 -40px;
}
.body_next:hover{
    background-position:0 -40px;
}
.body_ok{
    background:url('../img/main/bn_setting_signup_02.png') no-repeat;
	margin:0;
    position:absolute;
	display:block;
	width:177px;
	height:40px;
	top:318px;
	left:369px;
}
.body_ok:focus{
    background-position:0 -40px;
}
.body_ok:hover{
    background-position:0 -40px;
}


/* Body Frame */
#body_featured{position:absolute;display:none;width:1280px;top:0;left:0;overflow:hidden;}
#body_playlists{position:absolute;display:block;width:1280px;top:0;left:0;overflow:hidden;}
#body_editor{position:absolute;display:none;width:1280px;top:0;left:0;overflow:hidden;}
#body_support{position:absolute;display:none;width:1280px;top:0;left:0;overflow:hidden;}
#body_settings{position:absolute;display:none;width:1280px;top:0;left:0;overflow:hidden;}

#body_theme{position:absolute;display:none;width:1280px;top:0;left:0;overflow:hidden;}
#body_myprojects{position:absolute;display:none;width:1280px;top:0;left:0;overflow:hidden;}
#body_about{position:absolute;display:none;width:1280px;top:0;left:0;}
#body_faq{position:absolute;display:none;width:1280px;top:0;left:0;}
#body_forum{position:absolute;display:none;width:1280px;top:0;left:0;}
#body_signin{position:absolute;display:none;width:1280px;top:0;left:0;}
#body_signup{position:absolute;display:none;width:1280px;top:0;left:0;}



/* Preview Popup */
#previewPopupBackBorder{background:url('../img/main/bg_main_05.png') no-repeat;display:none;position:absolute;top:15px;left:196px;width:915px;height:627px;z-index:200;}
.previewPopup_button{ position:absolute;top:547px;}
#body_featured .previewPopup_button .edit{background:url('../img/main/bn_main_playlists_edit_01.png') no-repeat;display:block;position:absolute;left:59px;width:190px;height:60px;}
#body_featured .previewPopup_button .edit:hover{background-position:0 -60px;display:block;}
#body_featured .previewPopup_button .edit.focus{background-position:0 -60px;display:block;}
#body_featured .previewPopup_button .cancel{background:url('../img/main/bn_main_playlists_cancel_01.png') no-repeat;display:block;position:absolute;left:670px;width:190px;height:60px;}
#body_featured .previewPopup_button .cancel:hover{background-position:0 -60px;display:block;}
#body_featured .previewPopup_button .cancel.focus{background-position:0 -60px;display:block;}

#body_playlists .previewPopup_button .edit{background:url('../img/main/bn_main_playlists_edit_01.png') no-repeat;display:block;	position:absolute;left:59px;width:190px;height:60px;}
#body_playlists .previewPopup_button .edit:hover{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .edit.focus{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .delete{background:url('../img/main/bn_main_playlists_delete_01.png') no-repeat;display:block;	position:absolute;left:263px;width:190px;height:60px;}
#body_playlists .previewPopup_button .delete:hover{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .delete.focus{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .play{background:url('../img/main/bn_main_playlists_play_01.png') no-repeat;display:block;	position:absolute;left:467px;width:190px;height:60px;}
#body_playlists .previewPopup_button .play:hover{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .play.focus{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .cancel{background:url('../img/main/bn_main_playlists_cancel_01.png') no-repeat;display:block;	position:absolute;left:670px;width:190px;height:60px;}
#body_playlists .previewPopup_button .cancel:hover{background-position:0 -60px;display:block;}
#body_playlists .previewPopup_button .cancel.focus{background-position:0 -60px;display:block;}

#body_theme .previewPopup_button .edit{background:url('../img/main/bn_main_playlists_edit_01.png') no-repeat;display:block;position:absolute;left:59px;width:190px;height:60px;}
#body_theme .previewPopup_button .edit:hover{background-position:0 -60px;display:block;}
#body_theme .previewPopup_button .edit.focus{background-position:0 -60px;display:block;}
#body_theme .previewPopup_button .cancel{background:url('../img/main/bn_main_playlists_cancel_01.png') no-repeat;display:block;position:absolute;left:670px;width:190px;height:60px;}
#body_theme .previewPopup_button .cancel:hover{background-position:0 -60px;display:block;}
#body_theme .previewPopup_button .cancel.focus{background-position:0 -60px;display:block;}

#body_myprojects .previewPopup_button .edit{background:url('../img/main/bn_main_playlists_edit_01.png') no-repeat;display:block;position:absolute;left:59px;width:190px;height:60px;}
#body_myprojects .previewPopup_button .edit:hover{background-position:0 -60px;display:block;}
#body_myprojects .previewPopup_button .edit.focus{background-position:0 -60px;display:block;}
#body_myprojects .previewPopup_button .delete{background:url('../img/main/bn_main_playlists_delete_01.png') no-repeat;display:block;	position:absolute;left:263px;width:190px;height:60px;}
#body_myprojects .previewPopup_button .delete:hover{background-position:0 -60px;display:block;}
#body_myprojects .previewPopup_button .delete.focus{background-position:0 -60px;display:block;}
#body_myprojects .previewPopup_button .cancel{background:url('../img/main/bn_main_playlists_cancel_01.png') no-repeat;display:block;position:absolute;left:670px;width:190px;height:60px;}
#body_myprojects .previewPopup_button .cancel:hover{background-position:0 -60px;display:block;}
#body_myprojects .previewPopup_button .cancel.focus{background-position:0 -60px;display:block;}

/* Contents list */
#body_featured .body_contents_sub, #body_theme .body_contents_sub{background:url('../img/main/lb_main_featured_04.png') no-repeat;}
#body_featured .body_contents_sub:hover, #body_theme .body_contents_sub:hover{background:url('../img/main/lb_main_featured_14.png') no-repeat;}
#body_featured .body_contents_sub.focus, #body_theme .body_contents_sub.focus{background:url('../img/main/lb_main_featured_14.png') no-repeat;}
#body_featured .body_contents_sub .divided, #body_theme .body_contents_sub .divided{	position:absolute;left:18px;top:335px;color:#eee;font-size:23pt;font-family:돋움체;font-weight:900;}
#body_featured .body_contents_1_text, #body_theme .body_contents_1_text{position:absolute;left:22px;top:341px;}
#body_featured .body_contents_1_widget_1, #body_theme .body_contents_1_widget_1{position:absolute;left:402px;top:346px;}
#body_featured .body_contents_1_widget_2, #body_theme .body_contents_1_widget_2{position:absolute;left:432px;top:346px;}
#body_featured .body_contents_1_widget_3, #body_theme .body_contents_1_widget_3{position:absolute;left:462px;top:346px;}
#body_featured .body_contents_1_widget_4, #body_theme .body_contents_1_widget_4{position:absolute;left:492px;top:346px;}
#body_featured .body_contents_2_text, #body_theme .body_contents_2_text{position:absolute;left:22px;top:341px;}
#body_featured .body_contents_2_widget_1, #body_theme .body_contents_2_widget_1{position:absolute;left:402px;top:346px;}
#body_featured .body_contents_2_widget_2, #body_theme .body_contents_2_widget_2{position:absolute;left:432px;top:346px;}
#body_featured .body_contents_2_widget_3, #body_theme .body_contents_2_widget_3{position:absolute;left:462px;top:346px;}
#body_featured .body_contents_2_widget_4, #body_theme .body_contents_2_widget_4{position:absolute;left:492px;top:346px;}
#body_featured .body_contents_3_text, #body_theme .body_contents_3_text{position:absolute;left:22px;top:341px;}
#body_featured .body_contents_3_widget_1, #body_theme .body_contents_3_widget_1{position:absolute;left:402px;top:346px;}
#body_featured .body_contents_3_widget_2, #body_theme .body_contents_3_widget_2{position:absolute;left:432px;top:346px;}
#body_featured .body_contents_3_widget_3, #body_theme .body_contents_3_widget_3{position:absolute;left:462px;top:346px;}
#body_featured .body_contents_3_widget_4, #body_theme .body_contents_3_widget_4{position:absolute;left:492px;top:346px;}

#body_playlists .body_contents_sub, #body_myprojects .body_contents_sub{background:url('../img/main/lb_main_featured_04.png') no-repeat;}
#body_playlists .body_contents_sub:hover, #body_myprojects .body_contents_sub:hover{background:url('../img/main/lb_main_featured_14.png') no-repeat;}
#body_playlists .body_contents_sub.focus, #body_myprojects .body_contents_sub.focus{background:url('../img/main/lb_main_featured_14.png') no-repeat;}
#body_playlists .body_contents_sub .divided, #body_myprojects .body_contents_sub .divided{	position:absolute;left:18px;top:335px;color:#eee;font-size:23pt;font-family:돋움체;font-weight:900;}
#body_playlists .body_contents_1_text, #body_myprojects .body_contents_1_text{position:absolute;left:22px;top:341px;}
#body_playlists .body_contents_1_widget_1, #body_myprojects .body_contents_1_widget_1{position:absolute;left:402px;top:346px;}
#body_playlists .body_contents_1_widget_2, #body_myprojects .body_contents_1_widget_2{position:absolute;left:432px;top:346px;}
#body_playlists .body_contents_1_widget_3, #body_myprojects .body_contents_1_widget_3{position:absolute;left:462px;top:346px;}
#body_playlists .body_contents_1_widget_4, #body_myprojects .body_contents_1_widget_4{position:absolute;left:492px;top:346px;}
#body_playlists .body_contents_2_text, #body_myprojects .body_contents_2_text{position:absolute;left:22px;top:341px;}
#body_playlists .body_contents_2_widget_1, #body_myprojects .body_contents_2_widget_1{position:absolute;left:402px;top:346px;}
#body_playlists .body_contents_2_widget_2, #body_myprojects .body_contents_2_widget_2{position:absolute;left:432px;top:346px;}
#body_playlists .body_contents_2_widget_3, #body_myprojects .body_contents_2_widget_3{position:absolute;left:462px;top:346px;}
#body_playlists .body_contents_2_widget_4, #body_myprojects .body_contents_2_widget_4{position:absolute;left:492px;top:346px;}
#body_playlists .body_contents_3_text, #body_myprojects .body_contents_3_text{position:absolute;left:22px;top:341px;}
#body_playlists .body_contents_3_widget_1, #body_myprojects .body_contents_3_widget_1{position:absolute;left:402px;top:346px;}
#body_playlists .body_contents_3_widget_2, #body_myprojects .body_contents_3_widget_2{position:absolute;left:432px;top:346px;}
#body_playlists .body_contents_3_widget_3, #body_myprojects .body_contents_3_widget_3{position:absolute;left:462px;top:346px;}
#body_playlists .body_contents_3_widget_4, #body_myprojects .body_contents_3_widget_4{position:absolute;left:492px;top:346px;}

#body_editor .body_contents_sub.list_1{background:url('../img/main/lb_main_editor_01.png') no-repeat;}
#body_editor .body_contents_sub.list_1:hover{background:url('../img/main/lb_main_editor_06.png') no-repeat;}
#body_editor .body_contents_sub.list_1.focus{background:url('../img/main/lb_main_editor_06.png') no-repeat;}
#body_editor .body_contents_sub.list_2{background:url('../img/main/lb_main_editor_02.png') no-repeat;}
#body_editor .body_contents_sub.list_2:hover{background:url('../img/main/lb_main_editor_07.png') no-repeat;}
#body_editor .body_contents_sub.list_2.focus{background:url('../img/main/lb_main_editor_07.png') no-repeat;}
#body_editor .body_contents_sub.list_3{background:url('../img/main/lb_main_editor_03.png') no-repeat;}
#body_editor .body_contents_sub.list_3:hover{background:url('../img/main/lb_main_editor_08.png') no-repeat;}
#body_editor .body_contents_sub.list_3.focus{background:url('../img/main/lb_main_editor_08.png') no-repeat;}
/*#body_editor .body_contents_sub_dimmed{background:url('../img/main/lb_main_editor_04.png') no-repeat;}
#body_editor .body_contents_sub_dimmed:hover{background:url('../img/main/lb_main_editor_05.png') no-repeat;}
#body_editor .body_contents_sub_dimmed:focus{background:url('../img/main/lb_main_editor_05.png') no-repeat;}*/

#body_support .body_contents_sub.list_1{background:url('../img/main/lb_main_support_01.png') no-repeat;}
#body_support .body_contents_sub.list_1:hover{background:url('../img/main/lb_main_support_04.png') no-repeat;}
#body_support .body_contents_sub.list_1.focus{background:url('../img/main/lb_main_support_04.png') no-repeat;}
#body_support .body_contents_sub.list_2{background:url('../img/main/lb_main_support_02.png') no-repeat;}
#body_support .body_contents_sub.list_2:hover{background:url('../img/main/lb_main_support_05.png') no-repeat;}
#body_support .body_contents_sub.list_2.focus{background:url('../img/main/lb_main_support_05.png') no-repeat;}
#body_support .body_contents_sub.list_3{background:url('../img/main/lb_main_support_03.png') no-repeat;}
#body_support .body_contents_sub.list_3:hover{background:url('../img/main/lb_main_support_06.png') no-repeat;}
#body_support .body_contents_sub.list_3.focus{background:url('../img/main/lb_main_support_06.png') no-repeat;}
/*#body_support .body_contents_sub_dimmed{background:url('../img/main/lb_main_editor_04.png') no-repeat;}
#body_support .body_contents_sub_dimmed:hover{background:url('../img/main/lb_main_editor_05.png') no-repeat;}
#body_support .body_contents_sub_dimmed:focus{background:url('../img/main/lb_main_editor_05.png') no-repeat;}*/

#body_settings .body_contents_sub.list_1{background:url('../img/main/lb_main_accounts_light.png') no-repeat;}
#body_settings .body_contents_sub.list_1:hover{background:url('../img/main/lb_main_accounts_light_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_1.focus{background:url('../img/main/lb_main_accounts_light_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_2{background:url('../img/main/lb_main_accounts_premium.png') no-repeat;}
#body_settings .body_contents_sub.list_2:hover{background:url('../img/main/lb_main_accounts_premium_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_2.focus{background:url('../img/main/lb_main_accounts_premium_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_3{background:url('../img/main/lb_main_accounts_professional.png') no-repeat;}
#body_settings .body_contents_sub.list_3:hover{background:url('../img/main/lb_main_accounts_professional_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_3.focus{background:url('../img/main/lb_main_accounts_professional_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_4{background:url('../img/main/lb_main_accounts_enterprise.png') no-repeat;}
#body_settings .body_contents_sub.list_4:hover{background:url('../img/main/lb_main_accounts_enterprise_focus.png') no-repeat;}
#body_settings .body_contents_sub.list_4.focus{background:url('../img/main/lb_main_accounts_enterprise_focus.png') no-repeat;}
#body_settings .body_contents_sub .account_current{background:url('../img/main/lb_editor_layer_background_29.png') no-repeat;background-size:100% 100%;position:absolute;display:none;width:80px;height:76px;top:74px;left:184px;}
/*#body_settings .body_contents_sub_dimmed{background:url('../img/main/lb_main_editor_04.png') no-repeat;}
#body_settings .body_contents_sub_dimmed:hover{background:url('../img/main/lb_main_editor_05.png') no-repeat;}
#body_settings .body_contents_sub_dimmed:focus{background:url('../img/main/lb_main_editor_05.png') no-repeat;}*/

#body_about .body_contents{background:url('../img/main/lb_support_about_01.png') no-repeat;margin:0;position:absolute;display:block;width:888px;height:375px;top:124px;left:187px;}
#body_about .body_movie_loading{background:url('../img/main/icon_loading.gif') no-repeat;margin:0;position:absolute;display:block;width:499px;height:281px;top:153px;left:240px;}
#body_about .body_movie{position:absolute;display:block;width:499px;height:281px;top:46px;left:41px;}
#body_about .body_email{background:url('../img/main/lb_support_about_03.png') no-repeat;margin:0;position:absolute;display:block;width:19px;height:13px;top:315px;left:576px;}
#body_about .body_email .email_address{color:#818181;position:absolute;font-size:13px;top:0px;left:25px;}

#body_faq .body_contents{background:url('../img/main/lb_support_faq_02.png') no-repeat;margin:0;position:absolute;display:block;width:889px;height:396px;top:124px;left:187px;}
#body_faq .body_contents .faqList.list_1{position:absolute;display:block;top:0px;left:0px;}
#body_faq .body_contents .faqList.list_2 {position:absolute;display:block;top:135px;left:0px;}
#body_faq .body_contents .faqList.list_3 {position:absolute;display:block;top:270px;left:0px;}
#body_faq .body_contents .faqList.list_4 {position:absolute;display:block;top:405px;left:0px;}
#body_faq .body_contents .faqList .question {position:absolute;display:block;top:0px;left:0px;}
#body_faq .body_contents .faqList .question .question_icon{background:url('../img/main/lb_support_faq_question.png') no-repeat;position:absolute;display:block;width:24px;height:24px;top:15px;left:25px;}
#body_faq .body_contents .faqList .question .question_text{color:#fff;font-size:12px;font-family:arial;position:absolute;	top:19px;left:55px;width:760px;}
#body_faq .body_contents .faqList .question .question_line{background:url('../img/main/lb_support_faq_line.png') no-repeat;position:absolute;display:block;width:813px;height:2px;top:45px;left:25px;}
#body_faq .body_contents .faqList .answer {position:absolute;display:block;top:40px;left:0px;}
#body_faq .body_contents .faqList .answer .answer_icon{background:url('../img/main/lb_support_faq_answer.png') no-repeat;position:absolute;display:block;width:24px;height:24px;top:15px;left:25px;}
#body_faq .body_contents .faqList .answer .answer_text{color:#fff;font-size:12px;font-family:arial;position:absolute;	top:19px;left:55px;width:760px;}
#body_faq .body_contents .faqList .answer .answer_line{background:url('../img/main/lb_support_faq_line.png') no-repeat;position:absolute;display:block;width:813px;height:2px;top:90px;left:25px;}
#body_faq .body_contents .container_outer {
	width:888px;
	height:377px;
	position:absolute;
	left:0px;
	top:8px;
	overflow: hidden;
}
#body_faq .body_contents .container_outer .container {
	width:887px;
	height:374px;
	position:absolute;
	left:0px;
	top:0px;
}
#body_faq .imageScroll{
    background:url('../img/main/lb_editor_layer_scroll_03.png') no-repeat;
    position:absolute;
	display:block;
	top:8px;
	left:860px;
	width:20px;
	height:379px;
}
#body_faq .imageScroll .navigator{
    background:url('../img/main/lb_editor_layer_scroll_02.png') no-repeat;
    position:absolute;
	display:block;
	top:0;
	left:0;
	width:20px;
	height:49px;
}

#body_forum .body_new_topic{background:url('../img/main/bn_support_forum_01.png') no-repeat;margin:0;position:absolute;display:block;width:125px;height:41px;top:-48px;left:765px;}
#body_forum .body_contents{background:url('../img/main/lb_support_forum_01.png') no-repeat;margin:0;position:absolute;display:block;width:889px;height:397px;top:124px;left:187px;}
#body_forum .body_foum_01{background:url('../img/main/lb_support_forum_02.png') no-repeat;margin:0;position:absolute;display:block;width:813px;height:59px;top:15px;left:30px;}
#body_forum .body_foum_01:hover{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_01:focus{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_02{background:url('../img/main/lb_support_forum_02.png') no-repeat;margin:0;position:absolute;display:block;width:813px;height:59px;top:74px;left:30px;}
#body_forum .body_foum_02:hover{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_02:focus{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_03{background:url('../img/main/lb_support_forum_02.png') no-repeat;margin:0;position:absolute;display:block;width:813px;height:59px;top:133px;left:30px;}
#body_forum .body_foum_03:hover{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_03:focus{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_04{background:url('../img/main/lb_support_forum_02.png') no-repeat;margin:0;position:absolute;display:block;width:813px;height:59px;top:192px;left:30px;}
#body_forum .body_foum_04:hover{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_04:focus{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_05{background:url('../img/main/lb_support_forum_02.png') no-repeat;margin:0;position:absolute;display:block;width:813px;height:59px;top:251px;left:30px;}
#body_forum .body_foum_05:hover{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_05:focus{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_06{background:url('../img/main/lb_support_forum_02.png') no-repeat;margin:0;position:absolute;display:block;width:813px;height:59px;top:310px;left:30px;}
#body_forum .body_foum_06:hover{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum .body_foum_06:focus{background:url('../img/main/lb_support_forum_03.png') no-repeat;}
#body_forum #lay_forum{background:url('../img/main/lb_support_forum_05.png') no-repeat;display:none;position:absolute;top:50px;left:250px;width:770px;height:529px;z-index:200;}
#body_forum .lay_forum_text{background:url('../img/main/lb_support_forum_06.png') no-repeat;display:block;position:absolute;top:443px;left:36px;width:568px;height:53px;}
#body_forum .lay_forum_text input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:548px;height:53px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_forum .lay_forum_button{position:absolute;}
#body_forum .lay_forum_button .xbox{background:url('../img/main/bn_main_close_01.png') no-repeat;display:block;position:absolute;top:8px;left:733px;width:26px;height:26px;}
#body_forum .lay_forum_button .delete{background:url('../img/main/bn_support_forum_02.png') no-repeat;display:block;position:absolute;top:225px;left:659px;width:55px;height:34px;}
#body_forum .lay_forum_button .write{background:url('../img/main/bn_support_forum_03.png') no-repeat;display:block;position:absolute;top:441px;left:611px;width:105px;height:54px;}
#body_forum #lay_new_topic{background:url('../img/main/lb_support_forum_04.png') no-repeat;display:none;position:absolute;top:138px;left:250px;width:770px;height:369px;z-index:200;}
#body_forum .lay_new_topic_text{background:url('../img/main/lb_support_forum_08.png') no-repeat;display:block;position:absolute;top:94px;left:66px;width:683px;height:200px;}
#body_forum .lay_new_topic_text textarea{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:663px;height:180px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:20px 0 0 20px;float: left;}
#body_forum .lay_new_topic_title{background:url('../img/main/lb_support_forum_07.png') no-repeat;display:block;position:absolute;top:57px;left:66px;width:683px;height:34px;}
#body_forum .lay_new_topic_title input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:663px;height:34px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_forum .lay_new_topic_button{position:absolute;}
#body_forum .lay_new_topic_button .xbox{background:url('../img/main/bn_main_close_01.png') no-repeat;display:block;position:absolute;top:8px;left:733px;width:26px;height:26px;}
#body_forum .lay_new_topic_button .apply{background:url('../img/main/bn_setting_signup_03.png') no-repeat;display:block;position:absolute;top:317px;left:193px;width:177px;height:40px;}
#body_forum .lay_new_topic_button .apply:hover{background-position:0 -40px;}
#body_forum .lay_new_topic_button .apply:focus{background-position:0 -40px;}
#body_forum .lay_new_topic_button .cancel{background:url('../img/main/bn_setting_signup_04.png') no-repeat;display:block;position:absolute;top:317px;left:376px;width:177px;height:40px;}
#body_forum .lay_new_topic_button .cancel:hover{background-position:0 -40px;}
#body_forum .lay_new_topic_button .cancel:focus{background-position:0 -40px;}

#body_signin .body_contents{background:url('../img/main/lb_settings_signin_01.png') no-repeat;margin:0;position:absolute;display:block;width:888px;height:421px;top:124px;left:187px;}
#body_signin .body_email{background:url('../img/main/lb_settings_signin_03.png') no-repeat;margin:0;position:absolute;display:block;width:274px;height:34px;top:148px;left:277px;}
#body_signin .body_email input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:254px;height:34px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_signin .body_password{background:url('../img/main/lb_settings_signin_03.png') no-repeat;margin:0;position:absolute;display:block;width:274px;height:34px;top:184px;left:277px;}
#body_signin .body_password input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:254px;height:34px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_signin .body_signin_btn{background:url('../img/main/lb_settings_signin_02.png') no-repeat;margin:0;position:absolute;display:block;width:105px;height:71px;top:148px;left:555px;}
#body_signin .body_checkbox_img+label{top:233px;left:277px;}
#body_signin .body_remember{background:url('../img/main/lb_settings_signin_05.png') no-repeat;margin:0;position:absolute;display:block;width:91px;height:11px;top:236px;left:301px;}
#body_signin .body_line{background:url('../img/main/lb_settings_signin_06.png') no-repeat;margin:0;position:absolute;display:block;width:3px;height:18px;top:233px;left:411px;}
#body_signin .body_forget{background:url('../img/main/lb_settings_signin_04.png') no-repeat;margin:0;position:absolute;display:block;width:103px;height:13px;top:236px;left:433px;}
#body_signin #lay_forget{background:url('../img/main/lb_settings_signin_09.png') no-repeat;display:none;position:absolute;top:184px;left:415px;width:436px;height:282px;z-index:200;}
#body_signin .lay_forget_button{position:absolute;}
#body_signin .lay_forget_button .xbox{background:url('../img/main/bn_main_close_01.png') no-repeat;display:block;position:absolute;top:5px;left:405px;width:26px;height:26px;}
#body_signin .lay_forget_button .apply{background:url('../img/main/bn_setting_signup_03.png') no-repeat;display:block;position:absolute;top:231px;left:39px;width:177px;height:40px;}
#body_signin .lay_forget_button .apply:hover{background-position:0 -40px;}
#body_signin .lay_forget_button .apply:focus{background-position:0 -40px;}
#body_signin .lay_forget_button .cancel{background:url('../img/main/bn_setting_signup_04.png') no-repeat;display:block;position:absolute;top:231px;left:223px;width:177px;height:40px;}
#body_signin .lay_forget_button .cancel:hover{background-position:0 -40px;}
#body_signin .lay_forget_button .cancel:focus{background-position:0 -40px;}

#body_signup .page_1.body_contents{background:url('../img/main/lb_settings_signup_01.png') no-repeat;margin:0;position:absolute;display:block;width:888px;height:421px;top:124px;left:187px;}
#body_signup .page_1 .body_contract{background:url('../img/main/lb_settings_signup_02.png') no-repeat;margin:0;position:absolute;display:block;width:528px;height:134px;top:72px;left:196px;color:#818181;font-famaily:"돋움";font-size:13px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);}
#body_signup .page_1 .body_contract .contract{position:absolute;top:20px;left:20px;right:20px;}
#body_signup .page_1 .body_checkbox_img+label{top:213px;left:197px;}
#body_signup .page_1 .body_agree{background:url('../img/main/lb_settings_signup_03.png') no-repeat;margin:0;position:absolute;display:block;width:528px;height:34px;top:216px;left:219px;}
#body_signup .page_1 .body_name{background:url('../img/main/lb_settings_signup_04.png') no-repeat;margin:0;position:absolute;display:block;width:528px;height:34px;top:242px;left:197px;}
#body_signup .page_1 .body_name input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:508px;height:34px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_signup .page_1 .body_email{background:url('../img/main/lb_settings_signup_04.png') no-repeat;margin:0;position:absolute;display:block;width:528px;height:34px;top:279px;left:197px;}
#body_signup .page_1 .body_email input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:508px;height:34px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_signup .page_1 .body_password{background:url('../img/main/lb_settings_signup_04.png') no-repeat;margin:0;position:absolute;display:block;width:528px;height:34px;top:316px;left:197px;}
#body_signup .page_1 .body_password input{color:#fff;background: rgba(0,0,0,0.0);position:relative;width:508px;height:34px;border:0px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);padding:0 0 0 20px;float: left;}
#body_signup .page_2.body_contents{background:url('../img/main/lb_settings_signup_05.png') no-repeat;margin:0;position:absolute;display:none;width:888px;height:421px;top:124px;left:187px;}
#body_signup .page_2 .body_goods_list{background:url('../img/main/lb_settings_signup_06.png') no-repeat;margin:0;position:absolute;display:block;width:859px;height:297px;top:53px;left:16px;}
#body_signup .page_2 .body_goods_radio_img{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;border:none;display:none;	}
#body_signup .page_2 .body_goods_radio_img+label{background:url('../img/main/lb_settings_signup_07.png') no-repeat;margin:0;position:absolute;display:block;width:37px;height:33px;	}
#body_signup .page_2 .body_goods_radio_img:checked+label{background:url('../img/main/lb_settings_signup_08.png') no-repeat;}
#body_signup .page_2 .body_goods_radio_img#goods_01+label {top:80px;left:162px;}
#body_signup .page_2 .body_goods_radio_img#goods_02+label {top:149px;left:162px;}
#body_signup .page_2 .body_goods_radio_img#goods_03+label {top:215px;left:162px;}
#body_signup .page_2 .body_goods_radio_img#goods_04+label {top:286px;left:162px;}
#body_signup .page_3.body_contents{background:url('../img/main/lb_settings_signup_09.png') no-repeat;margin:0;position:absolute;display:none;width:888px;height:421px;top:124px;left:187px;}
#body_signup .page_3 .body_congratulation{background:url('../img/main/lb_settings_signup_10.png') no-repeat;margin:0;position:absolute;display:block;width:859px;height:297px;top:53px;left:17px;}
#body_signup .page_3 .body_activation{background:url('../img/main/lb_settings_signup_11.png') no-repeat;margin:0;position:absolute;display:block;width:177px;height:34px;top:206px;left:370px;}
#body_signup .page_3 .body_activation .activation_code{position:absolute;margin-top:10px;width:177px;color:#eee;font-famaily:"돋움";font-size:13px;font-weight:bold;text-align:center;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);}
#body_signup .page_3 .body_ok{top:356px;left:369px;}


/* No Contents */
#body_featured .noContents{display:none;position:absolute;top:270px;left:450px;width:436px;height:55px;background:url('../img/main/NoFeatured.png') no-repeat;}
#body_playlists .noContents{display:none;position:absolute;top:270px;left:560px;width:436px;height:55px;background:url('../img/main/NoPlaylists.png') no-repeat;}
#body_myprojects .noContents{display:none;position:absolute;top:270px;left:560px;width:436px;height:55px;background:url('../img/main/NoProjects.png') no-repeat;}



.editMap {display:none;position:absolute;width:1150px;height:650px;top:42px;left:59px;}
.player {display:none;position:absolute;width:1280px;height:720px;top:0px;left:0px;;}


#body_dimmed{	
	background-color:#000;
	opacity:0.7;
}

#body_dimmed .loadMsg{
	color:#fff;
	font-size:60px;
	font-weight:bold;
	font-family:arial;
	text-align:center;
	position:relative;
	top:330px;
	z-index:10010;
}